* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: gray;
  width: 100vw;
  height: 100vh;
}

.playCardContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 50vw;
}

.playBtnContainer button {
  padding: 10px;
  font-size: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px black;
  background-color: gray;
  font-weight: 600;
}

.playBtnContainer button:active {
  box-shadow: 0px 0px 0px 0px;
}

.playBtnContainer button:hover {
  cursor: pointer;
}

.playerCard {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  box-shadow: 0px 0px 2px 2px black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.playerCard:nth-child(1) {
  background-color: mediumorchid;
}

.playerCard:nth-child(2) {
  background-color: skyblue;
}